[pgsql]
; Leave it blank to use SQLite backend.
PG_CONNECT:

[sqlite]
SQLITE_DB: /var/lib/airpi/airpi-data.db

[http_forward]
; Set a blank HTTP_REQUEST_URL to disable HTTP data forward.
HTTP_REQUEST_URL: @@_HTTP_REQUEST_URL_@@
HTTP_LOGIN: @@_HTTP_LOGIN_@@
HTTP_PASSWORD: @@_HTTP_PASSWORD_@@
HTTP_XFER_MAX_DAYS: 1

[mqtt]
; Set a blank MQTT_HOST to disable MQTT data forward.
MQTT_HOST: @@_MQTT_HOST_@@
MQTT_LOGIN: @@_MQTT_LOGIN_@@
MQTT_PASSWORD: @@_MQTT_PASSWORD_@@
MQTT_XFER_MAX_DAYS: 1

[bme280]
I2C_ADDRESS: @@_BME280_I2C_@@

[pms5003]
; /dev/ttyAMA0 for Raspberry Pi 2, /dev/serial0 for Raspberry Pi 3
DEVICE: @@_PMS5003_SERIAL_@@
